h1{text-align: center; color; red; text-decoration: italic; font-family: arial}
body{text-align:center; color; red; font-family: arial; background-color: #96C8A2}
div{text-align: center}
td{text-align: center}
